<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Orders</h2>

<table class="table table-bordered table-striped" id="order_table">
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Name</th>
    </tr>
</table>
<tbody>
    <ul>
      <% @orders.each do |order| %>
        <th><li><%= order.customer.first_name %> <%= order.customer.last_name %></li></th>
        <th><li><%= order.number %></li></th>
      <% end %>
    </ul>
</tbody>



<hr>
