<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Orders</h2>

<ul>
  <% @orders.each do |order| %>
    <li><%= link_to order.number, "https://#{@shop_session.url}/admin/products/#{order.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>
