<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
    <h2>Orders</h2>
      <table class="table table-bordered table-striped" id="order_table">
      <thead>
        <tr>
          <th scope="col">Order Number</th>
          <th scope="col">Name</th>
        </tr>
      </thead>

      <tbody>   
        <% @orders.each do |order| %>
          <tr>
              <td><%= order.customer.first_name %> <%= order.customer.last_name %></td>
              <td><%= order.number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<hr>
