<% content_for :javascript do %>
    <script type="text/javascript">
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Search" });
      });
    </script>
  <% end %>
  
<h1>Search</h1>

    <div class="search-container"></div>
        <table class="table table-bordered table-striped" id="order_table">
            <thead>
                <tr>
                    <th>Order Number</th>
                </tr>
            </thead>
        
            <tbody>
                <% @orders.each do |order| %>
                    <td><%= order.number %></td>
                <% end %>
            </tbody>
        </table>
    </div>
