<% content_for :javascript do %>
    <script type="text/javascript">
      ShopifyApp.ready(function(){
        ShopifyApp.Bar.initialize({ title: "Search" });
      });
    </script>
  <% end %>
<h1>Hello World</h1>

    <% @orders.each do |order| %>
        <%= order.number %>
    <% end %>